* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: #ff4343;
}

.signup {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 230px;
}

.signup h2 {
    font-size: 32px;
    color: #3d2b1f;
    margin-bottom: 80px; 
}

.form-wrapper {
    width: 320px;
    
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #ff4343;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.logo {
    flex: 1;
    background-color: #ff4343;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 82px;
    color: #ffffff;
    letter-spacing: -4px;
}

.main-logo{

    width: 600px;

}

.pop-up{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ff4343;
    z-index: 1000;

    color: rgb(255, 255, 255);
    padding: 30px;

}

.list-style{

    display: flex;
    gap: 40px;

}

.footer {
    margin-top: auto;
    padding-bottom: 30px;
    font-size: 14px;
    color: #666;
}
        