body{
    background-color: #ff4343;
    color: white;

}

.main-text{

    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 100px;

}

.deny-container{

    margin-top: 300px;

    display: flex;
    justify-content: center;
    align-items: center;


}